* {
    margin: 0px;
    padding: 0px;
    font-family: "Cabin", sans-serif;
  }
  
  .navbar {
    background-color: #373a3c;
    padding: 20px;
  }
  
  .navbar-brand,
  .navbar-expand-md button {
    padding: 0 60px;
  }