* {
    margin: 0px;
    padding: 0px;
    font-family: "Cabin", sans-serif;
    
  }
  main{
    background-color: #111;
  }
  
  .navbar {
    background-color: #01949c;
    padding: 20px;
  }
  
  .navbar-brand,
  .navbar-expand-md button {
    padding: 0 60px;
  }
  .lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-transform: capitalize;
  }
  .card-header{
    background-color: #01949c;
  }
  .card-color{
    background-color: black; 
    color: #fff;
  }
  .container-iconos{
    background-color: black;
    padding: 60px 50px;
  }
  .section-form {
    
    border: 2px solid grey;
    padding: 25px;
    border-radius: 5px;
    width: auto;
    max-width: auto;
    box-shadow: 0 4px 8px gainsboro;
  }
  .section-group{
    padding: 20px;
  }
  .pie {
    background-color: #01949c;
    margin: auto;
    
  }
  
  
  @media (max-width: 767px) {
    .section-form {
        margin: 10px;
        width: auto;
    }
  }
  .boton-final{
    margin-top: 20px;
  }
  